table {
  margin: 0;
}
tr {
  margin: 0;
}
td {
  margin: 0;
  height: 60px;
  width: 70px;
  border: solid 1px;
  display: table-cell;
  text-align: center;
}
ul {
  overflow-x: auto;
}
li {
  display: table-cell;
}
.circle {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
