.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  margin: 0;
}
tr {
  margin: 0;
}
td {
  margin: 0;
  height: 80px;
  width: 80px;
  border: solid 1px;
  display: table-cell;
  text-align: center;
}
ul {
  overflow-x: auto;
}
li {
  display: table-cell;
}
.circle {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
